@if (participation$ | async; as participation) {
    <div id="participation-{{divid}}>" class="participation_buttons">
        @if (participation == Participation.Yes) {
            Sie nehmen teil!
        } @else {
            <button class="participation_button tribe-common-c-btn" type="button" (click)="participate()">Teilnehmen</button>
        }
    </div>
    <div id="cancel-{{divid}}" class="cancel_buttons">
        @if (participation == no()) {
            Sie haben abgesagt!
        } @else {
            <button class="participation_button tribe-common-c-btn" type="button" (click)="openDialog()">Absagen</button>
        }
    </div>
} @else {
    Lädt...
}
