:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  margin: auto;
  padding: 1em;
  position: fixed;
  top:10%;
}

/*.tribe-common div.overlay {
  width: 20em;
  background: #fffbf0;
  border: 1px solid #e7c157;
  position: fixed;
  top:10%;
  left:-10%;
  margin: auto;
  padding: 1em;
  z-index:1;
}*/
